@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #e2e2e2;
	font-family: "lexend deca", sans-serif;
}

body {
	background-color: #242424;
	color: #e2e2e2;
}

.button {
	background-color: #bb86fc;
	border: none;
	color: white;
	padding: 12px 24px;
	font-size: 16px;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s ease;
}
.button:hover {
	background-color: #c392ff;
}
